BasedOnStyle: LLVM
ColumnLimit: 0
IndentWidth: 2
ContinuationIndentWidth: 2
AlignEscapedNewlines: DontAlign
AlignOperands: DontAlign
AlwaysBreakBeforeMultilineStrings: true
AlignAfterOpenBracket: DontAlign
AllowAllArgumentsOnNextLine: true
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
AlignTrailingComments: Never
InsertNewlineAtEOF: true
